---
title: Tags
description: "All of my blog posts sorted by tag"
permalink: /blog/tags
---

{% for category in site.categories %}
  {% assign placeHolderTag = category | first %}
  {% assign listOfTags = listOfTags | append: placeHolderTag %}
  {% assign listOfTags = listOfTags | append: ',' %}
{% endfor %}

{% assign listOfTags = listOfTags | split: ',' | sort_natural %}

{% assign tagCounter = 0 %}
{% for listOfTag in listOfTags %}
{% endfor %}

<ul class="tag-nav">
{% for listOfTag in listOfTags %}
<li><a href="#{{listOfTag}}">{{ listOfTag | replace: "-", "&nbsp;" }}</a></li>
{% endfor %}
</ul>

{% for listOfTag in listOfTags %}
<section id='{{listOfTag}}' class="tag-lists">
<h2>{{listOfTag | replace: "-", " "}}</h2>
{% for post in site.posts %}
{% if post.categories contains listOfTag %}
{% include blog-listing.html %}
{% endif %}
{% endfor %}

<p><a href="#" title="Top of Page" class="internal-nav">Back to top</a></p>
</section>
{% endfor %} 