
{%- assign dateOfPost = {{post.date | date: "%d"}} -%}

{%- if dateOfPost == "01" or dateOfPost == "21" or dateOfPost == "31" -%}
	{%- assign ordinalEnding = "st" -%}
{%- elsif dateOfPost == "02" or dateOfPost == "22" -%}
	{%- assign ordinalEnding = "nd" -%}
{%- elsif dateOfPost == "03" or dateOfPost == "23" -%}
	{%- assign ordinalEnding = "rd" -%}
{%- else %}
	{%- assign ordinalEnding = "th" -%}
{%- endif %}


{%- assign firstDigitDofP = dateOfPost | slice: 0 -%}

{%- if firstDigitDofP == "0" -%}
	{%- assign prettyDateOfPost = dateOfPost | slice: 1 -%}
{%- else -%}
	{%- assign prettyDateOfPost = dateOfPost -%}
{%- endif -%}


<li><a href="{{ post.url }}" title="{{ post.title }}" class="listing-title">{{ post.title }}&nbsp;»</a><br>
<span class="listing-second-line">{{ post.date | date: "%B" }} {{prettyDateOfPost}}<span class="ordinal">{{ ordinalEnding }}</span>, {{ post.date | date: "%Y" }}
<!-- 
{%- assign tagCounter = 0 -%}

{%- for category in post.categories -%}
    {%- assign tagCounter = tagCounter | plus: 1 -%}
{%- endfor -%}

{%- unless tagCounter == 0 -%}
	{%- assign dateTagSeperator = " | " -%}
	{%- assign TagSeperator = ", " -%}
	{{ dateTagSeperator }}
		{%- for category in post.categories -%}
			{%- assign tagCounter = tagCounter | minus: 1 -%}
			<a href="/blog/tags#{{category}}" title="{{category | replace: "-", "&nbsp;"}}" class="listing-tag">{{category | replace: "-", "&nbsp;"}}</a>
				{%- unless tagCounter == 0 -%}
					{{ TagSeperator }}
				{%- endunless -%}
	{%- endfor -%}
{%- endunless -%} -->
</span></li>