<!--{%- if page.blogpost or page.english-guide -%}
<div class="bottom-nav">
{%- unless page.next == null -%}
<a href="{{ page.next.url }}" title="{{ page.next.title }}" class="next-link">{{ page.next.title }}&nbsp;→</a>
{%- endunless -%}

{%- unless page.previous == null -%}
<a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="previous-link">←&nbsp;{{page.previous.title}}</a>
{%- endunless -%}
</div>
{%- endif -%}

-->

<div class="contact-info">
 <a href="#">Back to top</a> || <a href="/feed.xml" title="RSS">RSS</a> || <a href="https://twitter.com/derekkedziora" title="Twitter">Twitter</a> || <a href="https://t.me/@derekblog" title="Telegram">Telegram</a><br>
derekkedziora@icloud.com
</div>
