<script> 

	if window.matchMedia( "(prefers-color-scheme: dark)" ).matches {
		document.getElementById("theme-toggle").innerHTML = "Light Mode";
		document.documentElement.setAttribute('data-theme', 'dark');
	} else {
		document.getElementById("theme-toggle").innerHTML = "Dark Mode";
		document.documentElement.setAttribute('data-theme', 'light');
	}


function modeSwitcher() {
	const currentMode = document.documentElement.getAttribute('data-theme');
	if (currentMode === "dark" || window.matchMedia("(prefers-color-scheme: dark").matches) {
		document.documentElement.setAttribute('data-theme', 'light');
		window.localStorage.setItem('theme', 'light');
		document.getElementById("theme-toggle").innerHTML = "Dark Mode";
	} else {
		document.documentElement.setAttribute('data-theme', 'dark');
		window.localStorage.setItem('theme', 'dark');
		document.getElementById("theme-toggle").innerHTML = "Light Mode";
	}
}



</script>