	<meta property="og:locale" content="en_US">
	<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
	<meta property="og:type" content="{% if page.og-type %}{{page.og-type}}{% else %}article{% endif %}"/>
	<meta property="og:url" content="{{ page.url | prepend: site.url }}"/>
	<meta property="og:image" content="https://derekkedziora.com/static/derek.png"/>
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
