<nav class="sub-title-menu">
	{%- unless page.url == "/" -%}<a href="/" title="Derek Kdziora">Derek Kedziora</a>&emsp;{%- endunless -%}
	{%- unless page.url == "/blog" -%}<a href="/blog" title="Blog">Blog</a>&emsp;{%- endunless -%}
	{%- if page.blogNav -%}
			{%- unless page.url == "/blog/tags" -%}<a href="/blog/tags" title="tags">Tags</a>&emsp;{%- endunless -%}
		    <a href="/blog/random" title="Random Post">Random Post</a>
    {%- endif -%}
	{%- unless page.url == "/about" or page.blogNav -%}<a href="/about" title="About">About</a>&emsp;{%- endunless -%}
    {%- unless page.url == "/portfolio" or page.blogNav -%}<a href="/portfolio" title="Portfolio">Portfolio</a>{%- endunless -%}
</nav>
