
<nav class="top-of-page">


{%- if page.index -%}
	<h1 class="name">Derek Kedziora</h1>
{%- else -%}
	<a href="/" rel="author" title="Derek Kedziora" class="name">Derek Kedziora</a>
{%- endif -%}

{%- if page.about -%}
	<span class="current-page">About</span>
{%- else -%}
	<a href="/about" title="About">About</a>
{%- endif -%}

{%- if page.blog-index -%}
	<span class="current-page">Blog</span>
{%- else -%}
	<a href="/blog" title="Blog">Blog</a>
{%- endif -%}

<a id="theme-toggle" onclick="modeSwitcher()" role="button"></a>

</nav>


