---
---

$body-typeface: "Iowan Old Style", Georgia, serif;
$text-width: 650px;

html, html[data-theme="light"] {
  --bold-color: rgb(0, 0, 0);
  --box-background-color: rgb(249, 249, 250);
  --highlight-color: hsl(0, 0%, 80%);
  --light-border-color: rgb(230, 230, 230);
  --light-text-color: rgb(72, 72, 74);
  --link-color: rgb(0, 112, 201);
  --link-color-visited: hsl(250, 100%, 37%);
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(51, 51, 51);
  --medium-text-color: hsl(0, 0%, 20%);
  --sidebar-color: hsl(0, 0%, 90%);
  --underline-color: hsl(0, 0%, 60%);
}

html[data-theme="dark"] {
  --bold-color: rgb(240, 240, 240);
  --box-background-color: hsl(0, 0%, 20%);
  --highlight-color: hsl(0, 0%, 60%);
  --light-border-color: hsl(0, 0%, 30%);
  --light-text-color: rgb(199, 199, 204);
  --link-color: rgb( 100, 210, 255);
  --link-color-visited: hsl(250, 100%, 60%);
  --main-background-color: rgb(28, 28, 30);
  --main-text-color: rgb(229, 229, 234);
  --medium-text-color: hsl(0, 0%, 70%);
  --underline-color: hsl(0, 0%, 50%); 
}


@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
      --bold-color: rgb(255, 255, 255);
      --box-background-color: hsl(0, 0%, 20%);
      --highlight-color: hsl(0, 0%, 60%);
      --light-border-color: hsl(0, 0%, 30%);
      --light-text-color: rgb(199, 199, 204);
      --link-color: rgb( 100, 210, 255);
      --link-color-visited: hsl(250, 100%, 60%);
      --main-background-color: rgb(28, 28, 30);
      --main-text-color: rgb(229, 229, 234);
      --medium-text-color: hsl(0, 0%, 70%);
      --underline-color: hsl(0, 0%, 50%); 
    }

    html[data-theme="light"] {
  --bold-color: rgb(0, 0, 0);
  --box-background-color: rgb(249, 249, 250);
  --highlight-color: hsl(0, 0%, 80%);
  --light-border-color: rgb(230, 230, 230);
  --light-text-color: rgb(72, 72, 74);
  --link-color: rgb(0, 112, 201);
  --link-color-visited: hsl(250, 100%, 37%);
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(51, 51, 51);
  --medium-text-color: hsl(0, 0%, 20%);
  --sidebar-color: hsl(0, 0%, 90%);
  --underline-color: hsl(0, 0%, 60%);
  } 
}


html, html[data-theme="dark"], html[data-theme="light"] {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

* + * {
  margin-top: 1.5em;  
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: $body-typeface;
  font-size: 1.4rem;
  font-feature-settings: "kern" on;
  height: 100%;
  line-height: 1.4em;
  margin: 0;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: $text-width;
  width: 100%;
}

article {
  margin: 3em 0 4em 0;
  max-width: $text-width;
  padding-bottom: 2em;
  width: 100%;
}

footer {
  color: var(--light-text-color);
  font-size: .9em;
  margin-top: auto;
  max-width: 100%;
  width: $text-width;
  * + * {
    margin-top: 0;  
  }
  a {
    color: var(--light-text-color);
  }
}


.top-of-page {
  //background-color: var(--box-background-color);
  //border-bottom: 1px solid var(--light-border-color);
  //margin-bottom: 1.5em;
  //padding: 2em 0 2em 0;
  margin: 1.5em 0 0 0;
  width: 100%;
  .top-of-page-content {
    border-bottom: 1px solid var(--light-border-color);
    max-width: $text-width;
    margin: 0 auto;
    padding-bottom: .75em;
    h1, .name {
      border: none;
      color: var(--main-text-color);
      display: block;
      font-weight: 700;
      font-size: .8em;
      line-height: 1;
      letter-spacing: .05em;
      margin: 0 0 .5em 0;
      text-transform: uppercase;
    }
    nav {
      margin-top: 0;
    }
    .nav-link {
      color: var(--main-text-color);
      font-size: .65em;
      letter-spacing: .05em;
      margin: 0;
      text-transform: uppercase;
    }
    .nav-link a {
      display: inline-block;
      color: var(--main-text-color);
      margin: 0;
      padding: 0 2.5% 0 0;
    }
    .nav-link h1 {
      text-decoration: line-through;
      display: inline-block;
      color: var(--main-text-color);
      margin: 0;
      padding: 0 2.5% 0 0;
      font-size: inherit;
      font-weight: 400;
      letter-spacing: .05em;
      text-transform: uppercase;
    }
  }
}

.bottom-nav {
  border-top: 1px solid var(--light-border-color); 
  display: flex;
  flex-wrap: wrap;
}

.previous-link {
  //border-right: 1px solid var(--light-border-color);
  padding: 1em 5% 1em 0;
  width: 44%; 
}

.next-link {
  margin: 0 0 0 auto;
  padding: 1em 0 1em 5%;
  text-align: right; 
  width: 44%;
}

.index-links {
  border-top: 1px solid var(--light-border-color);
  font-size: .8em;
  letter-spacing: .05em;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.contact-info {
  padding: 1.5em 0 3em 0;
  border-top: 1px solid var(--light-border-color);
  text-align: center;
}

h1, h2, h3 {
  color: var(--main-text-color);
  line-height: 1.1;
}

h1 {
  //border-bottom: 2px solid hsl(2, 40%, 40%);
  font-size: 1.5em;
  //font-weight: 400;
  margin: 0;
  //padding-bottom: .4em;
}

h2 {
  font-size: 1.2em;
  //letter-spacing: .05em;
  //text-transform: uppercase;
}

h3 { 
  font-size: 1.1em;
}

* + h2 {
  margin-top: 3em;
}

h2 + *, h3 + *  {
  margin-top: 1em;
}

a, li, p {
  hyphens: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-decoration-color: var(--light-text-color);
}

body a:hover {
  color: var(--link-color);
  text-decoration-color: var(--link-color);
  text-decoration: underline;
}

ul, ol {
  padding: 0 0 0 2em;
}

li {
  padding-left: .25em;
}

li + li {
  margin-top: 1em;
}

ol li::marker {
  color: var(--bold-color);
  font-weight: bold;
  font-variant-numeric: oldstyle-nums;
}

blockquote {
  //border-left: 2px solid var(--underline-color);
  padding: 1em 1.5em 1em 1.5em;
  p {
    font-size: .9em;
    hyphens: auto;
    line-height: 1.2em;
    text-align: justify;
  }
}

pre {
  font-family: Courier, monospace;
  font-size: .8em;
  line-height: 1.2;
  overflow: scroll;
  padding: 1.5em; 
}

code {
  font-family: "Courier", monospace;
  font-style: 1em; 
}

img {
  border: 1px solid var(--light-border-color);
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

dl {
  background-color: var(--box-background-color);
  border-left: 2px solid var(--underline-color);
  padding: 1em 1.5em;
}
dt {
  font-size: .7em;
  font-weight: 700;
  text-transform: uppercase;
}
dd {
  font-size: .9em;
  line-height: 1.3em;
  margin-top: .25em;
}

aside {
  background-color: var(--box-background-color);
  border-left: 3px solid var(--light-border-color);
  border-right: 3px solid var(--light-border-color);
  padding: .5em;
  h3 {
    font-size: 1.1em;
    letter-spacing: 0;
    text-transform: none;
  }
  h3 + p {
    margin-top: .5em;
  }
}

::selection {
  background-color: var(--highlight-color);
}

.listing {
  list-style-type: none;
  padding: 0;
  li {
    margin: 0 0 1.5em 0;
    padding: 0;
  }
}

.listing-title {
  color: var(--main-text-color);
  font-variant: none;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  font-weight: bold;
}

.listing-second-line {
    color: var(--light-text-color);
    font-size: .7em;
    line-height: 1;
    a {
      text-decoration: none;
    }
}

.tag-nav {
  column-count: 3;
  column-break-inside: avoid;
  list-style-type: none;
  padding: 0;
}

.tag-lists {
  h2 {
    border-bottom: 1px solid var(--light-text-color);
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 4em;
    padding: 2em 0 .5em 0;
  }
  ul {
    list-style-type: none;
    margin-top: 2.5em;
    padding: 0;
    li {
      margin-top: 1.5em;
      padding: 0;
    }
  }
  .internal-nav-tag {
    color: var(--light-text-color);
    display: inline-block;
    margin-top: 1.5em;
    text-transform: uppercase;
  }
}

.caption, figcaption {
  color: var(--light-text-color);
  font-size: .7em;
  margin-top: .5em;
  text-align: center;
}

.sub-title-menu {
  display: flex;
  margin: .8em 0 0 0;
  a, p, time {
    color: var(--light-text-color);
    font-size: .7em;
    line-height: 1;
    letter-spacing: .05em;
    margin: 0 5% 0 0;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.listing-title {
  font-size: 1em;
  margin-top: 0;
  text-transform: none;
  a {
    color: var(--main-text-color);
  }
}

.recent-posts {
  margin-top: 3em;
  border-width: 1px;
  h2 {
    padding-bottom: .5em;
  }
}

.about-photo {
  float: left;
  width: 30%;
  margin: 0 5% 0 0;
  max-width: 180px;
}

.all-posts-link a {
  color: var(--main-text-color);
  font-size: .8em;
  letter-spacing: .05em;
  text-decoration: none;
  text-transform: uppercase;
}

.mode-switcher {
  cursor: pointer;
  font-size: .5em;
  letter-spacing: .05em;
  margin-top: 3em;
  max-width: $text-width;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  a {
    color: var(--light-text-color);
    text-decoration: none;
  }
}

header + p {
  margin-top: 2em;
}

.button-container {
  margin-top: 1.5em;
  max-width: $text-width;
  width: 100%;
}

.theme-toggle-button {
  color: var(--light-text-color);
  cursor: pointer;
  float: right;
  font-size: .5em;
  letter-spacing: .05em;
  max-width: $text-width;
  text-transform: uppercase;
}

strong, h1, h2 {
  color: var(--bold-color);
}


time {
  color: var(--light-text-color);
  display: block;
  font-size: .75em;
  font-style: italic;
}

#theme-toggle {
  cursor: pointer;
}

@-moz-document url-prefix() { 
  .listing li {
     margin: 0;
  }
}

@media screen and(max-width: 700px) {
  
  body {
    font-size: 1.1rem;
  }

  article, footer {
    max-width: 90%;
  }

  .top-of-page-content {
    padding-left: 5%;
  }

  .tag-nav span {
    flex-basis: 50%;
  }

  .sub-title-menu a:hover {
    color: var(--light-text-color);
    text-decoration: none;
  }

  h1 {
    margin-top: 1em;
  }

  .theme-toggle-button:active, .theme-toggle-button:hover {
    color: var(--light-text-color);
    text-decoration: none; 
  }

}


@media screen and(max-width: 400px) {

  body {
    font-size: .9rem;
  }

  h1 {
    margin-top: .5em;
  }
}