{%- include pretty-numbers.html -%}
<!DOCTYPE html>
<html lang="en-US">

<head>
  {%- include head-matter.html -%}
</head>

<body>

<nav> 
  <a href="/" title="Derek Kedziora" rel="author">Derek Kedziora</a>&emsp;
  {%- if page.blog-index -%}
    <span style="color: var(--light-text-color); text-decoration: line-through;">Blog</span>&emsp;
    {%- else -%}
      <a href="/blog">Blog</a>
  {%- endif -%}
  <a href="{{page.url}}" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer; float: right; margin: 0;"></a>
</nav>

<article>

{{ content }}

</article>

{%- include footer.html -%}

<script src="/scripts/mode-switcher.js"></script>

</body>

</html>