
<!DOCTYPE html>
<html lang="en-US">
<head>
{%- include head-matter.html -%}
</head>
<body>
	<div class="button-container">
    	<a id="theme-toggle" onclick="modeSwitcher()" class="theme-toggle-button"></a>
  </div>
  	<article>
		<h1>{{page.title}}</h1>
    	{%- include subtitle.html -%}	
  		{{ content }}
  	</article>
    {%- unless page.index -%}
  	<footer>
  		{%- include footer.html -%}
  	</footer>
    {%- endunless -%}
  	<script src="/assets/scripts/mode-switcher.js"></script>
</body>
</html>