<!DOCTYPE html>
<html lang="en-US">

<head>
  {%- include head-matter.html -%}
</head>

<body>

{%- include top-of-page.html -%}

<article>

{%- unless page.index -%}

{%- if page.subtitle-nav or page.blogpost -%}
  <header>
{%- endif -%}

	<h1>{{page.title}}</h1>

{%- if page.subtitle-nav -%}
  <nav class="subtitle-nav">
  {%- for sub-nav in page.sub-navs -%}
  {{ sub-nav }}
  {%- endfor -%}
  </nav>
  </header>
{%- endif -%}

{%- endunless -%}
  

  {%- if page.blogpost -%}
    <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d %B %Y" }}</time></header>
  {%- endif -%}

  		{{ content }}
    
  </article>
    
  <footer>
  	{%- include footer.html -%}
  </footer>
  
  <script src="/assets/scripts/mode-switcher.js"></script>

</body>

</html>