<!DOCTYPE html>
<html lang="en-US">

<head>
  {%- include head-matter.html -%}
</head>

<body>

<article>

<header>
	<h1>{{ page.title }}</h1>
	<nav>
		<a href="/about">About</a>&emsp;
		<a href="/blog">Blog</a>&emsp;
		<a href="/portfolio">Portfolio</a>&emsp;
		<a href="{{page.url}}" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;"></a>
	</nav>
</header>

{{ content }}

<h2>What's New</h2>

{%- assign i = 0 -%}

{%- for post in site.posts -%}
	{%- unless post.unlisted -%}
		{%- assign i = i | plus: 1 -%}
		{%- include blog-listing.html -%}
	{% endunless %}
	
	{%- if i == 3 -%}
		{%- break -%}
	{%- endif -%}

{% endfor %}

</article>

{%- include footer.html -%}

<script src="/assets/scripts/mode-switcher.js"></script>

</body>

</html>