{%- include pretty-numbers.html -%}
<!DOCTYPE html>
<html lang="en-US">

<head>
  {%- include head-matter.html -%}
</head>

<body>
<article>

<a href="{{page.url}}" id="theme-toggle" onclick="modeSwitcher()" aria-hidden='true'></a>

<header>
	<h1>{{ page.title }}</h1>

	<p>{{ page.description }}</p>

	<p><a href="/" title="Derek Kedziora" rel="author">Derek Kedziora</a>&ensp;&middot;&ensp;
	<time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B" }} {{prettyDateOfPost}}{{ ordinalEnding }}, {{ page.date | date: "%Y" }}</time></p>

</header>

{%- if page.english-guide -%}
	{%- include english_plug.html -%}
{%- endif -%}

{{ content }}


</article>

{%- include footer.html -%}

<script src="/scripts/mode-switcher.js"></script>

</body>

</html>